<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns= " http://www.nlog-project.org/schemas/NLog.xsd "
    xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance ">
  <targets>
    <target name="file"
              xsi:type="File"
              fileName="D:\Stage recherche\Project\TestAutomatisé\TestAutomatisé\ErrerurBase\"
              layout="
---------------${level}.(${longdate}).---------------${newline}
${newline}
Call.Site:${calltime}${newline}
Exceptio.Type:${exception:format=Type}${newline}
Exception.Message:${exception:format=Message}${newline}
Stack.Trace:${exception:format=StackTrace}${newline}
Additional.Info:.${message}${newline}" />
  </targets>

  ..<rules>
    ....<logger name="*" writeTo="file"/>
    ..
  </rules>
</nlog>



